* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  /*height: 100%;*/
  margin: 0;
}

main {
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
}

main > div {
  display: flex;
  flex-direction: column;
  width: 60%;
  /*height: 100vh;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-weight: bolder;
}

.box_shadow {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width:767px) {

  main>div,
  .side-comment-container>div {
    width: 90%;
  }
}