.user-info-container {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: bolder;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.school-container{
    display: flex;
}

.school-container > div:nth-child(1){
    padding-right: 4px;
}

.arrow {
    position: relative;
    top: 50%;
	width: 10px;
	height: 10px;
	border-top: 2px solid lightgray;
	border-right: 2px solid lightgray;
    transform: translate3d(0,-50%,0) rotate(45deg);
}